@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,300;1,500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    word-wrap: break-word;
    overflow-wrap: break-word;
}
body {
    background-color: #ffffff;
    font-family: 'Roboto', sans-serif;
}
header {
    padding: 40px 9%;
}
.menu {
    list-style: none; 
    background-color: pink; 
    overflow: hidden;
    padding: 10px 20%;
}
.menu li {
    float: left; 
}

.menu li a {
    display: block;
    color: #775382;
    text-align: center; 
    padding: 14px 16px;
    text-decoration: none;
}

.menu li a:hover {
    background-color: #dbdbdb; 
}
#conheca {
    text-align: center;
    transition: 0.5s;
    color: #775382;
    font-size: 2.5em;
    line-height: normal;
    font-weight: 700;
    margin-bottom: 0.5em;
}   
p{
    text-align: center;
    transition: 0.5s;
    color: #775382;
}
main {
    border: 1px solid black;
    border-radius: 5px;
    width: 39%;
    height: 50em;
    margin: auto;
}
.flip-card {
    background-color: transparent;
    width: 310px;
    height: 379px;
    perspective: 1000px;
    font-family: sans-serif;
    margin-top: 10px;
    
  }
  
  .title {
    font-size: 1.3em;
    font-weight: 450;
    text-align: center;
    margin: 0;
  }

  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    box-shadow: 0 8px 14px 0 rgba(0,0,0,0.2);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border: 1px solid pink;
    border-radius: 1rem;
  }
  
  .flip-card-front {
    background: linear-gradient(120deg, pink 60%, rgb(255, 231, 222) 88%,
       rgb(255, 230, 236) 40%, rgb(254, 141, 160) 48%);
    color: pink;
  }
  
  .flip-card-back {
    background: linear-gradient(120deg, pink 60%, rgb(255, 231, 222) 88%,
    rgb(255, 230, 236) 40%, rgb(254, 141, 160) 48%);
 color: pink;
    transform: rotateY(180deg);
  }
  .posicao{
    display: flex;
    justify-content: space-around;
  }
  h2{
    color: #775382;
}
#medica1{
    width: 300px;
    margin-top: -4px;
    margin-bottom: -4px;
}
#medica2{
  width: 300px;
  margin-top: -4px;
  margin-bottom: -4px;
}
#medica3{
  width: 300px;
  margin-top: -4px;
  margin-bottom: -4px;
}
#medica4{
  width: 300px;
  margin-top: -4px;
  margin-bottom: -4px;
}
#medica5{
  width: 300px;
  margin-top: -4px;
  margin-bottom: -4px;
}
#nome{
  color: #775382;
}
/* Estilos para o botão */
.link{
  padding: 8px 12px;
  background-color: rgb(255, 132, 152);
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 14px;
  width: 50%;
  margin-left: 80px;
  text-decoration: none;
}

/* Estilos quando o cursor passa sobre o botão */
.link:hover {
  background-color: rgb(253, 161, 176);
}

.carousel{
  margin-top: -17px;
}
.carousel-indicators{
  margin-top: 150px;
}
.card-title {
  color: #262626;
  font-size: 1.5em;
  line-height: normal;
  font-weight: 700;
  margin-bottom: 0.5em;
}

.small-desc {
  font-size: 1em;
  font-weight: 400;
  line-height: 1.5em;
  color: #775382;
}

.small-desc {
  font-size: 1em;
}
.card {
  display: block;
  position: relative;
  max-width: 100%;
  max-height: 100%;
  background-color: #f2f8f9;
  border-radius: 10px;
  padding: 2em 1.2em;
  margin: 12px;
  text-decoration: none;
  z-index: 0;
  overflow: hidden;
  background: linear-gradient(to bottom, #F1F0F1, #F1F0F1);
  font-family: Arial, Helvetica, sans-serif;
}

.card:before {
  content: '';
  position: absolute;
  z-index: -1;
  top: -16px;
  right: -16px;
  background: linear-gradient(135deg, pink, pink);
  height: 32px;
  width: 150px;
  border-radius: 32px;
  transform: scale(1);
  transform-origin: 50% 50%;
  transition: transform 0.40s ease-out;
}

.card:hover:before {
  transform: scale(28);
}

.card:hover .small-desc {
  transition: all 0.10s ease-out;
  color: rgba(255, 255, 255, 0.8);
}

.card:hover .card-title {
  transition: all 0.10s ease-out;
  color: #ffffff;
}
.linhaconheca{
  width: 8%;
  display: flex;
  justify-content: center;
  text-align: center;
}
/* Estilos para o botão */
.ver-mais {
  padding: 8px 12px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 14px;
}

/* Estilos quando o cursor passa sobre o botão */
.ver-mais:hover {
  background-color: #0056b3;
}

/* .card {
    max-width: 300px;
    border-radius: 0.5rem;
    background-color: #f1f0f1;
    box-shadow: 1px 10px 5px  rgba(0, 0, 0, 0.494);

  }
  
  .card a {
    text-decoration: none
  }
  
  .content {
    padding: 1.1rem;
  }
  
  .image {
    object-fit: cover;
    width: 100%;
    height: 150px;
    background-image: url(img/Clínica-Médica.jpeg);
    background-position: center;
    background-size: cover;
    border-radius: 0.5em;
  }
  
  #title {
    color: #111827;
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 600;
    display: flex;
    justify-content: center;
  }
  
  .desc {
    margin-top: 0.5rem;
    color: #6B7280;
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
  
  .action {
    display: inline-flex;
    margin-top: 1rem;
    color: #ffffff;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    align-items: center;
    gap: 0.25rem;
    background-color: #2563EB;
    padding: 4px 8px;
    border-radius: 4px;
  }
  
  .action span {
    transition: .3s ease;
  }
  
  .action:hover span {
    transform: translateX(4px);
  }
.tudo{
    display: flex;
    justify-content: center;
    align-items: center;
} */
